---

layout: default
scripts: [/js/category.js]

---

<div class="jumbotron">{{ content }}</div>
<ol class="breadcrumb">
	<li><a href="{{site.baseurl}}/">Home</a></li>
	<li class="active">{{ page.title }}</li>
</ol>
<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" href="#new-thread-container">
		  		Create New Thread
		  	</a>
		</h4>
	</div>
	<div id="new-thread-container" class="panel-collapse collapse">
		<div class="panel-body">
			<form id="new-thread" role="form" action="{{ site.baseurl }}/thread.html">
				<div class="form-group">
					<label class="sr-only" for="thread-ui">Thread Subject</label>	
					<input type="text" class="form-control" id="thread-ui" placeholder="Enter thread subject" />
					<div class="help-block hidden">Please enter a valid thread title</div>
				</div>
				<div class="form-group">
					<label class="sr-only" for="thread-ui">Thread Content</label>	
					<textarea class="form-control" id="message-ui" placeholder="Enter thread message"></textarea>
					<div class="help-block hidden">Please enter a valid thread content</div>
				</div>
				<input type="hidden" name="forum" value="{{ site.disqus_shortname }}" />
				<input type="hidden" name="category" value="{{ page.id }}" />
				<input type="hidden" name="title" id="title" value="" />
				<input type="hidden" name="message" id="message" value="" />
				<input type="hidden" name="api_key" value="{{ site.disqus_publickey }}" />
				<div class="form-group">
					<button type="submit" class="btn btn-default">Create Thread</button>
					<div class="help-block hidden">&nbsp;</div>
				</div>
			</form>
		</div>
	</div>
</div>
<h2>Threads</h2>
<div class="row">
	<div class="col-lg-12">
		<div id="thread-loader" class="progress progress-striped active">
			<div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
				<span>Loading threads...</span>
			</div>
		</div>
		<ul id="threads" class="media-list" data-id="{{ page.id }}">
		</ul>
		<ul class="pager">
			<li class="previous disabled"><a href="#">&larr; Previous</a></li>
			<li class="next disabled"><a href="#">Next &rarr;</a></li>
		</ul>
	</div>
</div>