---

layout: default

---

<div class="jumbotron">{{ content }}</div>
<form class="form-inline" role="form" action="{{ site.baseurl }}/thread.html">
	<div class="form-group">
		<input type="text" class="form-control" name="thread" placeholder="Enter thread subject" />
	</div>
	<input type="hidden" name="category" value="{{ site.baseurl}}{{page.url}}" />
	<input type="hidden" name="category-title" value="{{ page.title }}" />
	<input type="hidden" name="category-id" value="{{ page.id }}" />
	<button type="submit" class="btn btn-default">New Thread</button>
</form>
<ul id="threads" class="media-list">
</ul>
<script>
$.ajax({
	type: 'GET',
	url: "https://disqus.com/api/3.0/category/listThreads.jsonp",
	data: { 
		api_key: '{{ site.disqus_publickey }}',
		category : '{{ page.id }}'
	},
	cache: false,
	dataType: "jsonp",
	success: function (result) {
		$.Mustache.load('{{ site.baseurl }}/templates/thread.html').done(function() {
	    	$.each(result.response,function(idx, thread){
	    		$('#threads').mustache('thread', thread);
			});
	    });
	}
});
</script>