<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
		{% if page.summary %}<meta content="{{ page.summary }}" name="description" />{% endif %}
		<meta name="author" content="{{ site.author }}" />
		<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.png" />
		<link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet" />
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body>
		<div class="container">
			<div class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						{% include navbar.html %}
					</ul>
				</div>
			</div>
			{{ content }}
		</div>
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
		<script src="{{ site.baseurl }}/js/jquery-mustache.js"></script>
		<script src="{{ site.baseurl }}/js/mustache.js"></script>
		{% for script in page.scripts %}<script src="{{ site.baseurl }}{{ script }}"></script>{% endfor %} 
	</body>
</html>
